name: Mirror to GitLab

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            https://gitlab.com/renleihaokun/renleihaokun-blog.git
          ssh_private_key: "" # 我们用token，所以这里留空
          target_username: "renleihaokun" # 你的GitLab用户名
          target_token: ${{ secrets.GITLAB_TOKEN }} # 刚才更新过的Token
